body #login{
    /* background-color: rgb(229, 231, 235); */
    /* padding: 0; */
    /* background-image: url(hostel_img.jpeg); */
    /* border: 1px solid grey; */
    /* background-size: cover; */
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;

    
    
  }
  
  .log_in_form{
   
    width: 400px;
    /*height: 350px;*/
    
    border-radius: 10px;
    background-color: white;
   
  }
.label{
 
  font-size: .75rem;
  line-height: 1rem;
  padding-top: 7%;
  font-family: Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  

}
p{
    font-family: Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
input[type=text], select {
  width: 100%;
  padding: 7px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  margin-top: 0px;

  
}
input[type=password], select {
    width: 100%;
    padding: 7px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 0px;
    /*margin-bottom: 20px;*/
    
  }

input[type=submit] {
  width: 100%;
  padding-left: 3%;
  padding: 7px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: #3551f1;
  border-color: #F48020;
  font-family: Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}


input[type=submit]:hover {
  background-color:#e7791f;

}
a{
  font-size: .75rem;
  line-height: 1rem;
  font-family: Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
 

}
a:hover{
color: #e7791f;
}
.log_in{
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  font-family: Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  
}

/* This Tooltip is using for strong password policy */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.tooltip::before {
  content: "Minimum 1 special character, Minimum 1 uppercase alphabet, Minimum 1 lowercase alphabet, Minimum 8 characters long";
  color: #64748b;
  border-width: 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  width: 100% !important;
  height: auto;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  top: 0%;
  left: 100%; /* Move the tooltip off-screen initially */
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip:hover::before {
  opacity: 1;
  left: 100%; /* Move the tooltip to the right side */
}

.tooltip:hover::after {
  opacity: 1;
}